<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <style>
            h5{
                color:red
            }
        </style>
        {%for message in messages%}
        <h5>{{message}}</h5>
        {%endfor%}
        <form action="" method="POST">
            {%csrf_token%}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have an account or wanna create new one? <a href="/register">Register</a></p>
        </div>
    </div>
</body>
</html>
