<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancy Page</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Vacancies</h1>
    <p>Check out our current job openings and career opportunities.</p>
    <ul>{%for vacancy in vacancies%}
        <li>
            <h1>{{vacancy.title}}</h1>
            <p>{{vacancy.description}}</p>
        </li>
         
        {% endfor %}</ul>
</body>
</html>
