<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <a href="/about/"><button>About</button></a>
    <a href="/contacts/"><button>Contacts</button></a>
    <a href="/coupons/"><button>Coupons</button></a>
    <a href="/faq/"><button>FAQ</button></a>
    <a href="/news/"><button>News</button></a>
    <a href="/policy/"><button>Policy</button></a>
    <a href="/review_list/"><button>Reviews</button></a>
    <a href="/vacancy/"><button>Vacancy</button></a>
    <a href="/cart/"><button>Cart</button></a>
    <a href="/login/"><button>Сhange profile</button></a>
    <a href="/login/"><button>Logout</button></a>
    <a href="/cataloge/"><button>Cataloge</button></a>
    <a href="/settings/"><button>Settings</button></a>
    <h1>My Orders</h1>
    <ul>
        {% for order in orders %}
            <li>
                <p>User: {{ order.user }}</p>
                <p>Order ID: {{ order.id }}</p>
                <p>Address: {{ order.address }}</p>
                <p>Total Price: ${{ order.total_price }}</p>
                <p>Created At: {{ order.created_at }}</p>
                <p>Order Items:</p>
                <ul>
                    {% for item in order.orderitem_set.all %}
                        <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No orders found.</li>
        {% endfor %}
    </ul>
</body>
</html>
